@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikThin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikSuper.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("assets/font/GraphikBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
