body {
  padding: 0px;
  margin: 0px;
}

.subcription-section {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 2.3;
  overflow: hidden;
}

.subscription-section-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.events-section {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1.8;
  overflow: hidden;
}

.events-section-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer-section {
  background-color: #e8eaed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-list-view-container{
    display: flex;
    flex-direction: row;
}

.footer-list-view {
  display: flex;
  flex-direction: column;
  width: 16.6%;
  flex-basis: 1;
}

.subscription-plan-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
}

.subscription-plan-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.hulu-logo {
  position: absolute;
  left: 0px;
  top: 0px;
}

.log-in-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}

.categories-section {
  background-color: black;
  height: 800px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: white;
}

.events-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  color: white;
}

.tabs {
  width: 50px;
  height: 50px;
  background-color: red;
}

.sports-sponsors {
  width: 50px;
  height: 50px;
  background-color: red;
}

.plan-section {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.sticky-plan-header {
  width: 100%;
  flex-basis: 1;
  height: 100px;
  background-color: red;
}

.seperator {
  height: 2px;
  background-color: black;
  width: 100%;
  flex-basis: 1;
}

.channels {
  display: flex;
  flex-direction: row;
}

.footer-texts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}
