body {
  padding: 0px;
  margin: 0px;
  font-family: "Graphik", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.subcription-section {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 2.3;
  overflow: hidden;
}

.subscription-section-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.subcription-plan-view {
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-content: center;
}

.events-section {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1.8;
  overflow: hidden;
}

.events-section-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer-section {
  background-color: #e8eaed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-list-view-container {
  display: flex;
  flex-direction: row;
}

.footer-list-view {
  display: flex;
  flex-direction: column;
  width: 16.6%;
  flex-basis: 1;
}

.subscription-plan-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 100px;
}

.subscription-plan-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.hulu-logo {
  position: absolute;
  left: 40px;
  top: 24px;
}

.log-in-btn {
  position: absolute;
  right: 40px;
  top: 24px;
  background-color: transparent;
  border: none;
  color: #a8afbd;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.categories-section {
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: flex;
  flex-direction: column;
}

.categories-section>:first-child{
  margin-top: 64px;
}

.categories-section>:nth-child(2){
  margin-top: 40px;
}

.categories-section>:nth-child(3){
  margin-top: 200px;
}

.categories-section > h4{
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.46;
  text-transform: none;
  color: hsl(0deg 0% 100% / 60%);
  width: 50%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.category-section-text-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
}

.events-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  color: white;
}

.tabs {
  width: 50px;
  height: 50px;
  background-color: red;
}

.sports-sponsors {
  width: 50px;
  height: 50px;
  background-color: red;
}

.plan-section {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.sticky-plan-header {
  width: 100%;
  flex-basis: 1;
  height: 100px;
  background-color: red;
}

.seperator {
  height: 2px;
  background-color: black;
  width: 100%;
  flex-basis: 1;
}

.channels {
  display: flex;
  flex-direction: row;
}

.footer-texts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}

.plan-feature-view {
  display: flex;
  flex-direction: column;
}

.plan-feature-header {
  display: flex;
  flex-direction: row;
}

.plan-feature-header > :first-child {
  background-color: red;
  flex: 2;
}

.plan-feature-header > :nth-child(2) {
  background-color: burlywood;
  flex: 1;
}

.plan-feature-header > :last-child {
  background-color: white;
  flex: 1;
}

.plans-toggle {
  height: 100px;
}

.plans-view-card {
  flex-direction: column;
}

.category-section-text-card > :first-child {
  font-size: 14px;
  color: #00ed82;
  font-weight: 500;
  margin: 0px;
}

.category-section-text-card > :nth-child(2) {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.category-section-text-card > :last-child {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.32;
  letter-spacing: 0;
  margin: 0px;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 12px 80px;
  align-items: center;
}

.carousel-item {
  transition: 0.5s;
  flex: 1;
  border-radius: 10px;
  border: 4px solid #ffffff00;
  position: relative;
}

.carousel-item-backdrop {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.357);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel-iten-overlay-text {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}

.carousel-iten-overlay-text > h1 {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.24;
  letter-spacing: 0;
  margin-top: 12px;
}

.carousel-iten-overlay-text > h2 {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0;
}

.carousel-item:hover {
  border: 4px solid #ffffff81;
}

.carousel-item:hover > .carousel-item-backdrop {
  background-color: rgba(0, 0, 0, 0.507);
}

.carousel-item > img {
  width: 100%;
  border-radius: 10px;
}

.top-spacing-medium {
  height: 200px;
}

.subcription-plan-view > :first-child {
  color: #00ed82;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0px;
}

.subcription-plan-view > :nth-child(3) {
  color: white;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.24;
  text-transform: none;
  margin-top: 16px;
}

.subcription-plan-view > img {
  height: 64px;
  object-fit: contain;
  margin-top: 32px;
}

.subcription-plan-view > button {
  transition: 0.4s;
  background-color: #00ed82;
  border: none;
  border-radius: 4px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.subcription-plan-view > button:hover {
  opacity: 0.5;
}

.tnc-apply-text {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: white;
  font-size: 14px;
  margin-top: 20px;
}

.signup-hulu-text {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: white;
  font-size: 16px;
  margin-top: 32px;
}

.view-channels-button {
  cursor: pointer;
  text-decoration: underline;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
}

.dropdown-button{
  display: block;
  margin: 0px auto;
  margin-bottom: 100px;
}